<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/css/gamepad-solid.svg" />
    <title>Inicio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVCCRUD.styles.css" asp-append-version="true" />
</head>



<body>
    <header>
<nav class="navbar top-flex navbar-expand-lg" style="background: #020111">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">H&V</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="https://localhost:7272/">Inicio</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white" href="https://localhost:7272/Home/Privacy">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="https://localhost:7272/Usuarios">Usuarios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
    body {
    background: #020111;
    color: white;
}
</style>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>