@{
    ViewData["Title"] = "Privacy Policy";
}
  <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Clickea Aquí Rápido!
  </button>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body text-black" style="width: 300px;">
      "Mero gay el que lo esté leyendo :D"
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px; background: #0c239e; display: inline-block; margin-right:100px; margin-left: 100px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/css/vargas.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Juan David Vargas</h5>
        <p class="card-text">Estudiante De Cesde, Desarrollador de apoyo moral</p>
        <p class="card-text"><small class="text-body-secondary">Minecraft Player</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px; background: #0c239e; display: inline-block; margin-right:100px;x"> 
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/css/yo.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Hector Zapata</h5>
        <p class="card-text">Estudiante De Cesde, Desarrollador del Código</p>
        <p class="card-text"><small class="text-body-secondary">Vargas Mom's Player</small></p> 
      </div>
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 540px; background: #0c239e; display: inline-block; margin-left:400px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/css/jeffer.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Jeffer David Méndez</h5>
        <p class="card-text">Profesor, Mamaburra :D</p>
        <p class="card-text"><small class="text-body-secondary">Qk player, Burra Rider Player</small></p>
      </div>
    </div>
  </div>
</div>



<footer>

    <a href="" class=""></a>



</footer>